@charset "UTF-8";

body { background: url('/images/bck_parchment.jpg') #d0d0c0; font-family: verdana, monospace;
	margin: auto; text-align: center; font-size: 10pt; }

body, table, form, fieldset { margin: auto; text-align: center; font-family: verdana; }
table, td, th { padding: 0px; border-spacing: 5px; border-radius: 4px; }
td { text-align: left; }
th, td { border: 1px solid black; padding: 4px; padding-left: 8px; padding-right: 8px; vertical-align: top;   }
tr:nth-child(even) { background: rgba( 250, 250, 250, 0.9); }
tr:nth-child( odd) { background: rgba( 200, 200, 200, 0.9); }
// td:nth-child( 3 ) { text-align: right; }

a { color: #403030; text-decoration: none; font-size: 10pt;  }
a:hover, a:visited { color: blue; }
h1, h2, h3, h4, h5, h6, form { color: #403030; text-align: center; display: inline; }
button { font-size: 14pt; }
input, select { text-align: left; background: transparent; padding: 0px; border: 0px;  font-size: 14pt; }
textarea { border: 0px; background: transparent; border-radius: 4px; font-size: 14pt; width: 400px; }
select { font-size: 10pt; width: 400px; }

hr { color: #cccccc; width: 80%; }

.divbox { height: 240px; overflow: scroll; width: 80%; margin: auto; background-color: #e0e0e0;}

.red { background-color: #f0c0c0; }
.blu { background-color: #c0c0f0; }
.grn { background-color: #c0f0c0; }
.prp { background-color: #f0c0f0; }
.gra { background-color: #e0e0e0; }