<!DOCTYPE html>
<html xmlns:th = "https://www.thymeleaf.org">
<head><title>index</title><meta charset = "UTF-8">
<link rel = "stylesheet" th:href = "@{/basics.css}">
<style>
fieldset { background: rgba( 0, 0, 0, 0.2); border-radius: 10px; }
</style>
</head>

<body><br/><a href = "/"><h3>appendix</h3></a>
<br/><h6><span th:text = "${ #dates.formatISO( #dates.createNow() ) }" ></span></h6>
	<br/>
	<br/><hr/>
	<a th:href = "@{/home}">/home</a>

<br/><br/>
<fieldset style = "width: 50%;" ><legend>actuators</legend><span style = "font-size: 8pt;" >
	<a href = "https://docs.spring.io/spring-boot/docs/2.5.6/reference/html/actuator.html" >spring.io actuator list</a> |
	<a href = "https://www.javatpoint.com/spring-boot-actuator" >javatpoint actuator examples</a>
	<hr />
<a href = "/actuator"			>/actuator	</a> |
	<a href = "/actuator/health"	>/health	</a> |
	<hr />
	[ requires basic management.endpoints set to true ]	<br />
	<a href = "/actuator/beans"			>/beans			</a> |
	<a href = "/actuator/caches"		>/caches		</a> |
	<a href = "/actuator/conditions"	>/conditions	</a> |
	<a href = "/actuator/configprops"	>/configprops	</a> |
	<a href = "/actuator/env"			>/env			</a> |
	<a href = "/actuator/heapdump"		><b style = "color: red;" >/heapdump</b></a> |
	<a href = "/actuator/info"			>/info			</a> |
	<a href = "/actuator/loggers"		>/loggers		</a> |
	<a href = "/actuator/mappings"		>/mappings		</a> |
	<a href = "/actuator/metrics"		>/metrics		</a> |
	<a href = "/actuator/scheduledtasks"	>/scheduledtasks	</a> |
	<a href = "/actuator/threaddump"	>/threaddump	</a>
	<hr />
	[ requires extra configuration ]	<br />
	<a href = "/actuator/auditevents"	>/auditevents	</a> |
	<a href = "/actuator/flyway"		>/flyway		</a> |
	<a href = "/actuator/httptrace"		>/httptrace		</a> |
	<a href = "/actuator/integrationgraph"	>/integrationgraph	</a> |
	<a href = "/actuator/liquibase"		>/liquibase		</a> |
	<a href = "/actuator/logfile"		>/logfile		</a> |
	<a href = "/actuator/prometheus"	>/prometheus	</a> |
	<a href = "/actuator/quartz"		>/quartz		</a> |
	<a href = "/actuator/sessions"		>/sessions		</a> |
	<a href = "/actuator/shutdown"		>/shutdown		</a>
</span></fieldset>

<br /><br />

	<a href = "/errors">/errors</a> |
	<a href = "/h2console">/h2console</a> |
	<a href = "/swagger-ui">/swagger-ui</a> |
	<a href = "/swagger-ui.html">/swagger-ui.html</a>

	<br/><br/>
	<hr/>
	<a href = "/">return</a>

</body>
</html>
