<!DOCTYPE html>
<html xmlns:th = "https://www.thymeleaf.org">
<head><title>index</title><meta charset = "UTF-8">
<link rel = "stylesheet" href = "/basics.css">
<style>
img.home { width: 400px; height: 200px; border: 10px #a0a080 outset; border-radius: 15px; }

td.home { padding: 0px; border: 0px transparent none; background: transparent; }

button { width: 180px; height: 80px;
	background-color: #403030; color: #ffffff;
	font-weight: bold; font-size: 14pt;
	border: 10px #a08060 outset; border-radius: 10px; }
</style>
<script type = "text/javascript" th:src = "@{/basics.js}"></script>
</head>

<body><br/>
<h1>History</h1>
<br/><h6><span th:text = "${ #dates.formatISO(#dates.createNow() ) }" />
	<br/><br/>
	היסטוריה
	| umlando
	تاريخ |
	| इतिहास
	| 历史
	| History
	| k'ajláayo'
</h6><br/>

<img class = "home" src = "/images/history.png"/>

<br/><br/>
	<table><tr>
		<td class = "home"><button onclick ="location.href ='/listing';">Show List</button></td>
		<td class = "home"><button onclick ="location.href ='/inputs';" >Add Record</button></td>
	</table>

	<br/><a href = "/appendix">appendix</a>

</center>
</body>
</html>
