<!DOCTYPE html>
<html lang = "en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th = "https://www.thymeleaf.org">
<head><title>inputs</title><meta charset = "UTF-8">
<link rel = "stylesheet" href="../static/basics.css" th:href = "@{/basics.css}">
<style>
img.inputs		{ width: 400px; height: 400px; border-radius: 8px; }
input.inputs	{ width: 350px; font-size: 10pt; }
input.none		{ display: none;}
.btn { width: 70px; text-align: center; background: #e0e0e0; padding: 4px;
	border: black solid 1px; border-radius: 4px; font-size: 14pt; font-weight: bold; }
</style>
<script type = "text/javascript" th:src = "@{/basics.js}"></script>
<script type = "text/javascript" >

function add2Field( selector, fieldval ) {

	var selected = document.getElementById(selector);
	var selectedVal = selected.options[ selected.selectedIndex ].text;
	document.getElementById(fieldval).value = selectedVal;
}

function checkSubmit() {

	// form.querySelectorAll("input:checked")
	// form.querySelectorAll('input[type="checkbox"]:checked, input[type="radio"]:checked');
	var form = document.getElementById("inputForm");
	var btnVal = form.querySelectorAll('input[type="submit"]:not([value=""])');
	var selVal = btnVal.value; // forEach(el=>el.click());
}
</script>
</head>

<body><br /><a href = "/"><h3>History Inputs</h3></a><br/>

<form th:action = "@{/posted}" th:object = "${history}" method = "post"
	name = "inputForm" id = "inputForm" onsubmit = "return checkSubmit()" >
<br/>
	<input class = "btn" type = "submit" name = "nav" value = "back"	/>
	<input class = "btn" type = "submit" name = "nav" value = "list"	/>
	<input class = "btn" type = "submit" name = "nav" value = "delete"	/>
	<input class = "btn" type = "submit" name = "nav" value = "save"	/>
	<input class = "btn" type = "submit" name = "nav" value = "clear"	/>
	<input class = "btn" type = "submit" name = "nav" value = "frwd"	/>
<br/><br/>

<table style = "width:400px;" >

<tr>
	<td>beg</td>
	<td>
		<span style = "white-space: nowrap;">
		<input type = "text" name = "datebeg" placeholder = "datebeg"
			th:field = "*{datebeg}" title = "attempt to use 4 digit year; otherwise use SQL 0004-00-00-00.00.00"/>
		</span>
		</td>

	<td rowspan = "8"><!-- img -->
		<img class = "inputs"
			th:src = "@{${'/images/' + history.mediaicopath + '.jpg' + '?q=' + #strings.randomAlphanumeric(5)}}"
			th:onclick = "javascript: showImage(this);" th:title = "${history.id}" />

		<br/><!-- mediaicopath -->
			<span style = "white-space: nowrap;">ico
			<input class = "inputs" type = "text" name = "mediaicopath" placeholder = "mediaicopath"
				th:field = "*{mediaicopath}"
				title = "ideally a curated (square, low resolution) jpg"/>
			</span>
		
		<br />
			<hr /><!-- historySum -->
			<span th:text = "${historySum}"></span>
	</td>
</tr><!-- beg, img -->

<tr>
	<td>end</td>
	<td>
		<span style = "white-space: nowrap;">
		<input type = "text" name = "dateend" placeholder = "dateend"
			th:field = "*{dateend}"/>
		</span>
		</td>
	</tr><!-- end -->

<tr>
	<!-- java LinkedHashmap thymeleaf form select option
		https://stackoverflow.com/questions/55199184/how-to-select-object-from-thymeleaf-form
		https://stackoverflow.com/questions/26181188/how-to-map-hashmap-keys-to-a-select-in-thymeleaf
		-->
	<td>lst<br />era</td>
	<td>
		<select th:field="${historyView.eralist}" id = "eralist" onchange = "add2Field('eralist', 'eramain');">
			<option value="0">select option</option>
			<option th:each="era : ${historyView.eralist}" th:value="${era.key}" th:text="${era.value}"></option>
			</select>
		<br />
		<textarea name = "eramain" placeholder = "eramain"
			th:field = "*{eramain}"
			title = "high level timeframe era selection" ></textarea>
	</tr><!-- lst, era -->

<tr>
	<td>lst<br />loc</td>
	<td>
		<select th:field="${historyView.localelist}" id = "localelist" onchange = "add2Field('localelist', 'locales');">
			<option value="0">select option</option>
			<option th:each="loc : ${historyView.localelist}" th:value="${loc.key}" th:text="${loc.value}"></option>
			</select>
		<br />
		<textarea name = "locales" placeholder = "locales"
			th:field = "*{locales}"
			title = "ideally: modernCountry, modernCity; ancientCountry, ancientCity" ></textarea>
		</td>
	</tr><!-- lst, loc -->

<tr>
	<td>who</td>
	<td><textarea name = "personname" placeholder = "personname"
		th:field = "*{personname}"
		title = "ideally: period dynasty # king # firstName lastName, commonName" ></textarea>
		</td>
	</tr><!-- who -->

<tr>
	<td>&nbsp; d<br/>&nbsp; e<br/>&nbsp; s<br/>&nbsp; c</td>
	<td><textarea type = "text" name = "eventmain" placeholder = "eventmain"
		th:field = "*{eventmain}"
		title = "short description of primary activities" ></textarea>
		</td>
	</tr><!-- desc -->

<tr>
	<td>refs</td>
	<td><textarea name = "referenced" placeholder = "referenced"
		th:field = "*{referenced}"
		title = "short list of supporting evidences or references" ></textarea>
		</td>
	</tr><!-- refs -->

<tr>
	<td>lst<br />tags</td>
	<td>
		<select th:field="${historyView.taglist}" id = "taglist" onchange = "add2Field('taglist', 'tags');">
			<option value="0">select option</option>
			<option th:each="tags : ${historyView.taglist}" th:value="${tags}" th:text="${tags}"></option>
		</select>
		<br />
		<textarea name = "tags" placeholder = "tags"
		th:field = "*{tags}"
		title = "tagged information, comma separated" ></textarea>
		</td>
	</tr><!-- lst, tags -->

<input class = "none" type = "number" th:field="*{id}" placeholder = "id" title = "id" />
</table>
</form>

<br/>
<h6><span th:text = "${#strings.randomAlphanumeric(10)}"></span></h6>

<br /><a href = "/">return</a>

</body></html>
