<!DOCTYPE html>
<html lang = "en" xmlns:th = "https://www.thymeleaf.org">
<head><title>inputs</title><meta charset = "UTF-8">
<link rel = "stylesheet" th:href = "@{/basics.css}">
<style>
img.inputs		{ width: 400px; height: 400px; border-radius: 8px; }
input.inputs	{ width: 350px; font-size: 10pt; }
input.none		{ display: none;}
</style>
<script type = "text/javascript" th:src = "@{/basics.js}"></script>
</head>

<body><br /><h3>History Inputs</h3><br/>

<form th:action = "@{/posted}" th:object = "${history}" method = "post">
<br/><span th:insert = "toolbar.html" ></span>
<br/><br/>

<table style = "width:400px;" >

<tr>
	<td>beg</td>
	<td>
		<span style = "white-space: nowrap;">
		<input type = "radio" name = "datebegpre" value = "-" th:field = "*{datebegpre}">-
		<input type = "radio" name = "datebegpre" value = "+" th:field = "*{datebegpre}">+
		<input type = "text" name = "datebeg" placeholder = "datebeg"
			th:field = "*{datebeg}" title = "attempt to use 4 digit year; otherwise use SQL 0004-00-00-00.00.00"/>
		</span>
		</td>

	<td rowspan = "8"><!-- img -->
		<img class = "inputs" th:src = "@{${'/images/' + history.mediaicopath + '.jpg'}}"
			th:onclick = "javascript: showImage(this);" th:title = "${history.id}" />

		<br/><!-- mediaicopath -->
			<span style = "white-space: nowrap;">ico
			<input class = "inputs" type = "text" name = "mediaicopath" placeholder = "mediaicopath"
				th:field = "*{mediaicopath}"
				title = "ideally a curated (square, low resolution) jpg"/>
			</span>
		
		<br />
			<hr /><!-- historySum -->
			<span th:text = "${historySum}"></span>
	</td>
</tr><!-- beg, img -->

<tr>
	<td>end</td>
	<td>
		<span style = "white-space: nowrap;">
		<input type = "radio" name = "dateendpre" value = "-" th:field = "*{dateendpre}">-
		<input type = "radio" name = "dateendpre" value = "+" th:field = "*{dateendpre}">+
		<input type = "text" name = "dateend" placeholder = "dateend"
			th:field = "*{dateend}"/>
		</span>
		</td>
	</tr><!-- end -->

<tr>
	<!-- java LinkedHashmap thymeleaf form select option
		https://stackoverflow.com/questions/55199184/how-to-select-object-from-thymeleaf-form
		https://stackoverflow.com/questions/26181188/how-to-map-hashmap-keys-to-a-select-in-thymeleaf
		-->
	<td>era<br />geo</td>
	<td><span style = "white-space: nowrap; text-align: right;" title = "high level timeframe era" >
		<select th:field="*{eramain}" id = "eramain">
		    <option value="0">select option</option>
    		<option th:each="era : ${eramain}" th:value="${era.key}" th:text="${era.value}"></option>
			</select>
		</span>

		<br />
		<span style = "white-space: nowrap; text-align: right;" title = "high level geographical location">
		<select th:field="*{locales}" id = "locales">
		    <option value="0">select option</option>
    		<option th:each="loc : ${locales}" th:value="${loc.key}" th:text="${loc.value}"></option>
			</select>
		</span>
	</tr><!-- era, geo -->

<tr>
	<td>loc</td>
	<td><textarea name = "locations" placeholder = "locations"
		th:field = "*{locations}"
		title = "ideally: modernCountry, modernCity; ancientCountry, ancientCity" ></textarea>
		</td>
	</tr><!-- loc -->

<tr>
	<td>who</td>
	<td><textarea name = "personname" placeholder = "personname"
		th:field = "*{personname}"
		title = "ideally: period dynasty # king # firstName lastName, commonName" ></textarea>
		</td>
	</tr><!-- who -->

<tr>
	<td>&nbsp; d<br/>&nbsp; e<br/>&nbsp; s<br/>&nbsp; c</td>
	<td><textarea type = "text" name = "eventmain" placeholder = "eventmain"
		th:field = "*{eventmain}"
		title = "short description of primary activities" ></textarea>
		</td>
	</tr><!-- desc -->

<tr>
	<td>refs</td>
	<td><textarea name = "referenced" placeholder = "referenced"
		th:field = "*{referenced}"
		title = "short list of supporting evidences or references" ></textarea>
		</td>
	</tr><!-- refs -->

<tr>
	<td>tags</td>
	<td>

		<select th:field="*{taglist}" id = "taglist">
			<option value="0">select option</option>
			<option th:each="tags : ${taglist}" th:value="${tags}" th:text="${tags}"></option>
		</select>

		<textarea name = "tags" placeholder = "tags"
		th:field = "*{tags}"
		title = "tagged information, comma separated" ></textarea>
		</td>
	</tr><!-- tags -->

<input class = "none" type = "number" th:field="*{id}" placeholder = "id" title = "id" />
</table>
</form>

<br/>
<h6><span th:text = "${#strings.randomAlphanumeric(10)}"></span></h6>

<br /><a href = "/">return</a>

</body></html>
