<!DOCTYPE html>
<html lang = "en" xmlns:th = "https://www.thymeleaf.org">
<head><title>listing</title><meta charset = "UTF-8">
<link rel = "stylesheet" th:href = "@{/basics.css}">
<style>
table.list { width: 640px; }
img.list { width: 50px; height: 50px; }
div.list { display: inline-block; height: 500px; overflow: auto; }
</style>
</head>

<body><br /><h3>History Listing</h3><br/>
<form th:action = "@{/posted}" th:object = "${history}" method = "post"></form>

<br/>
<div class = "list">
<table class = "list">
<tr>
	<!--th>id</th-->
	<th>img</th>
	<th>date</th>
	<th>era/locations</th>
	<th>person/event</th>
	<th>eventmain</th>
	<th>reference/group</th>
	</tr>

<tr th:each = "history: ${histories}" th:onclick = "|location.href='/showInputs/${history.id}'|" >

	<!--td><span id = "id" th:text = "${#numbers.formatInteger(history.id,7)}"/></td-->
	<td>
		<img class = "list" id = "mediaicopath" th:src = "@{${'/images/' + history.mediaicopath + '.jpg'}}"
			th:title = "${history.id}" /><!--th:onclick = "javascript: showImage(this);"-->
		</td>
	<td style = "white-space: nowrap;">
		<span id = "datebeg" th:text = "${history.datebegpre}" ></span><span
			th:text = "${#strings.substring(history.datebeg, 0, 4)}" ></span>
		<span id = "dateend" th:text = "${history.dateendpre}" ></span><span
			th:text = "${#strings.substring(history.dateend, 0, 4)}" ></span>
		</td>

<td><span id = "eramain" th:text = "${history.eramain}" ></span> /<br/>
	<span id = "locations" th:text = "${history.locales}" ></span>
	</td>

<td><span id = "personname" th:text = "${history.personname}" ></span>
	</td>

<td><span id = "eventmain" th:text = "${history.eventmain}" ></span>
	</td>

<td><span id = "references" th:text = "${history.referenced}" ></span> /<br/>
	<span id = "tags" th:text = "${history.tags}" ></span>
	</td>

</tr>
</table>
</div>

<br/>
<br/><h6><span th:text = "${#strings.randomAlphanumeric(10)}"></span> |
Total Listings: <span th:text = "${#lists.size(histories)}"></span></h6>
<br /><a href = "/">return</a>

</body>
</html>
