<!DOCTYPE html>
<html lang = "en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th = "https://www.thymeleaf.org">
<head><title>listing</title><meta charset = "UTF-8">
<link rel = "stylesheet" href="../static/basics.css" th:href = "@{/basics.css}" >
<style>
table.list { width: 640px; }
img.list { width: 50px; height: 50px; }
div.list { display: inline-block; height: 500px; overflow: auto; }
.inp { width: 70px; text-align: left; padding: 0px; margin: 0px;
	border: black solid 1px; border-radius: 4px; font-size: 14pt; }
.tny { font-size: 8pt; text-align: center; border: 0px; }
.trn { background: rgba(0,0,0,.0); padding: 0px; margin: 0px; }
.btn { height: 40px; background-color: #403030; color: #ffffff; font-weight: bold; font-size: 14pt;
	border: 5px #a08060 outset; border-radius: 5px; }
</style>
<script type = "text/javascript" >
function checkSubmit() {

	alert("hi");
	// form.querySelectorAll("input:checked")
	// form.querySelectorAll('input[type="checkbox"]:checked, input[type="radio"]:checked');
	var form = document.getElementById("inputHistory");
	var btnVal = form.querySelectorAll('input[type="submit"]:not([value=""])');
	var selVal = btnVal.value; // forEach(el=>el.click());
}
</script>
</head>

<body><br /><a href = "/"><h3>History Listing</h3></a><br/>
<form th:action = "@{/posted}" th:object = "${history}" onsubmit = "return checkSubmit()" method = "post"></form>
<br/>
<table>
<tr style = "background-color: transparent;" >
	<td class = "trn" ><input class = "trn inp" type = "text" name = "${historyView.datebeg}"		value = "" title = "datebeg"	/></td>
	<td class = "trn" ><input class = "trn inp" type = "text" name = "${historyView.dateend}"		value = "" title = "dateend"	/></td>
	<td class = "trn" ><input class = "trn inp" type = "text" name = "${historyView.eramain}"		value = "" title = "eramain"	/></td>
	<td class = "trn" ><input class = "trn inp" type = "text" name = "${historyView.locales}"		value = "" title = "locales"	/></td>
	<td class = "trn" ><input class = "trn inp" type = "text" name = "${historyView.personname}"	value = "" title = "personname"	/></td>
	<td class = "trn" ><input class = "trn inp" type = "text" name = "${historyView.eventmain}"		value = "" title = "eventmain"	/></td>
	<td class = "trn" ><input class = "trn inp" type = "text" name = "${historyView.referenced}"	value = "" title = "referenced"	/></td>
	<td class = "trn" ><input class = "trn inp" type = "text" name = "${historyView.tags}"			value = "" title = "tags"		/></td>
	<td class = "trn" rowspan = "2"><input class = "btn" type = "submit" name = "submit"
		onclick = "javascript: checkSubmit()" value = "Go!" /></td><!-- onclick = "location.href='/listing';" -->
	</tr>
<tr style = "background-color: transparent;" >
	<td class = "trn tny">datebeg		</td>
	<td class = "trn tny">dateend		</td>
	<td class = "trn tny">eramain		</td>
	<td class = "trn tny">locales		</td>
	<td class = "trn tny">personname	</td>
	<td class = "trn tny">eventmain		</td>
	<td class = "trn tny">referenced	</td>
	<td class = "trn tny">tags			</td>
	</tr>
</table>

<br/>
<div class = "list">
<table class = "list">
<tr>
	<!--th>id</th-->
	<th>img</th>
	<th>daterange</th>
	<th>era/locations</th>
	<th>person/event</th>
	<th>eventmain</th>
	<th>referenced/tags</th>
	</tr>

<tr th:each = "history: ${histories}" th:onclick = "|location.href='/showInputs/${history.id}'|" >

	<!--td><span id = "id" th:text = "${#numbers.formatInteger(history.id,7)}"/></td-->
	<td>
		<img class = "list" id = "mediaicopath"
			th:src = "@{${'/images/' + history.mediaicopath + '.jpg'}}"
			th:title = "${ #numbers.formatInteger( history.id, 7 ) }"
		/><!-- th:onclick = "javascript: showImage(this);" -->
		</td>
	<td style = "white-space: nowrap;">
		<span id = "datebeg" th:text = "${history.datebeg}" ></span>
		<span id = "dateend" th:text = "${history.dateend}" ></span>
		</td>

<td><span id = "eramain" th:text = "${history.eramain}" ></span> /<br/>
	<span id = "locales" th:text = "${history.locales}" ></span>
	</td>

<td><span id = "personname" th:text = "${history.personname}" ></span>
	</td>

<td><span id = "eventmain" th:text = "${history.eventmain}" ></span>
	</td>

<td><span id = "referenced" th:text = "${history.referenced}" ></span> /<br/>
	<span id = "tags" th:text = "${history.tags}" ></span>
	</td>

</tr>
</table>
</div>

<br/>
<br/><h6><span th:text = "${#strings.randomAlphanumeric(10)}"></span> |
Total Listings: <span th:text = "${#lists.size(histories)}"></span></h6>
<br /><a href = "/">return</a>

</body>
</html>
