<!DOCTYPE html>
<html lang = "en">
<head><style>
.btn { width: 70px; text-align: center; background: #e0e0e0; padding: 4px;
	border: black solid 1px; border-radius: 4px; font-size: 14pt; font-weight: bold; }
</style></head>

<body>
<input class = "btn" type = "submit" name = "nav" value = "back"	/>
<input class = "btn" type = "submit" name = "nav" value = "list"	/>
<input class = "btn" type = "submit" name = "nav" value = "delete"	/>
<input class = "btn" type = "submit" name = "nav" value = "save"	/>
<input class = "btn" type = "submit" name = "nav" value = "clear"	/>
<input class = "btn" type = "submit" name = "nav" value = "frwd"	/>
</body>
</html>